
@media only screen and (min-width: 321px) and (max-width: 480px){
  .form_little { padding-right: 28px !important; }
  .div_form { padding-right: 0 !important; padding-left: 0 !important; }
  .nav_adjust { font-size: 11px !important; margin-right: 8px; }
  .img_adjust img { width: 41% !important; }
  .img_adjust { width: 70px; }
  .div_title h1 { font-size: 19px !important; }
  .form_initial { display: initial !important; margin-left: 20px; }
  .title_adjust { padding: 0px !important; }
  .hidden_ { display: none; }
  .width_adjust { width: 59px !important; margin-right: 34px !important; }
  .select_width_adjust { width: 180px !important; margin-right: 14px !important;}

}
@media only screen and (min-width: 481px) and (max-width: 640px){
  .form_little { padding-right: 28px !important; }
  .div_form { padding-right: 0 !important; padding-left: 0 !important; }
  .nav_adjust { font-size: 11px !important; margin-right: 8px; }
  .img_adjust img { width: 41% !important; }
  .img_adjust { width: 70px; }
  .div_title h1 { font-size: 22px !important; }
  .div_container_adjust { padding-left: 14px; padding-right: 13px; }
  .form_initial { margin-left: 30px; }
  .hidden_ { display: none; }
}

@media only screen and (min-width: 641px) and (max-width: 799px) {
  .form_little { padding-right: 28px !important; }
  .div_form { padding-right: 0 !important; padding-left: 0 !important; }
  .nav_adjust { font-size: 11px !important; margin-right: 8px; }
  .img_adjust img { width: 43% !important; }
  .img_adjust { width: 70px; }
  .div_title h1 { font-size: 26px !important; }
  .div_container_adjust { padding-left: 14px !important; padding-right: 13px !important; }
}

@media only screen and (min-width: 800px) and (max-width: 960px){
  .form_little { padding-right: 28px !important; }
  .div_form { padding-right: 0 !important; padding-left: 0 !important; }
}
@media only screen and (min-width: 961px){
    .form_little { padding-right: 28px !important; }
    .div_form { padding-right: 0 !important; padding-left: 0 !important; }
}