.caroussel-img { width: 100%; height: 385px }
.list-accueil { margin-top: 0.6%; padding-left: 0 !important; }
.titre-pub {right: 5.5%; width: 35%; margin-top: 2%; color: white }
.description-pub { right: 5.5%; width: 35%; bottom: 0%; color: white; }
.img-pub { width: 35%; height: 45px; }
.modal-show { padding-right: 17px; display: block; }
.chevron_content:after { font-weight: 900 ; content: '\203A'!important; font-family: 'Font Awesome 5 Free'; font-size: 28px; margin-right: 0px !important;}
.chevron_content { padding-bottom: 43px !important; }